In [1]:
import numpy as np
import pandas as pd

# Energy Indicators.xls :
+ which is a list of indicators (-chỉ số) of energy supply(-cung cấp) and renewable (-tái tạo) electricity production from the United Nations for the year 2013
+ keep in mind (-hãy nhớ rằng) that this an Excel file , and a not comma (-dấu phẩy) separated(-phân tách, phân chia ) values file
+ the first two columns are unneccessary (-không cần thiết) , so you should rid(-loại bỏ) get of them
+ and you should change the column labels so that the columns are: ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable's]

In [2]:
# file : xlsx read with : pd.read_excel
# file : xls read with : pd.ExcelFile
x = pd.ExcelFile('Energy Indicators.xls')
x

In [3]:
energy = x.parse(skiprows = 17, skip_footer = (38))
energy.head(2)

   Unnamed: 0   Unnamed: 1   Unnamed: 2 Petajoules Gigajoules          %
0         NaN  Afghanistan  Afghanistan        321         10   78.66928
1         NaN      Albania      Albania        102         35  100.00000

In [4]:
energy = energy[['Unnamed: 1','Petajoules','Gigajoules','%']]
energy.head(2)

    Unnamed: 1 Petajoules Gigajoules          %
0  Afghanistan        321         10   78.66928
1      Albania        102         35  100.00000

In [5]:
energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
energy

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,Afghanistan,321,10,78.669280
1,Albania,102,35,100.000000
2,Algeria,1959,51,0.551010
3,American Samoa,...,...,0.641026
4,Andorra,9,121,88.695650
5,Angola,642,27,70.909090
6,Anguilla,2,136,0.000000
7,Antigua and Barbuda,8,84,0.000000
8,Argentina,3378,79,24.064520
9,Armenia,143,48,28.236060
10,Aruba,12,120,14.870690
11,Australia,5386,231,11.810810
12,Austria,1391,164,72.452820
13,Azerbaijan,567,60,6.384345
14,Bahamas,45,118,0.000000
15,Bahrain,574,425,0.000000
16,Bangladesh,1625,10,1.966329
17,Barbados,19,69,0.000000
18,Belarus,1142,120,0.463389
19,Belgium,2338,210,9.959739
20,Belize,13,39,64.690030
21,Benin,170,16,0.000000
22,Bermuda,6,88,0.000000
23,Bhutan,63,83,100.000000
24,Bolivia (Plurinational State of),336,32,31.477120
25,"Bonaire, Sint Eustatius and Saba",5,213,0.000000
26,Bosnia and Herzegovina,266,70,41.464670
27,Botswana,86,39,0.131406
28,Brazil,12149,59,69.648030
29,British Virgin Islands,2,85,0.000000
...,...,...,...,...
235,2,NaN,NaN,NaN
236,3,NaN,NaN,NaN
237,4,NaN,NaN,NaN
238,5,NaN,NaN,NaN
239,6,NaN,NaN,NaN
240,7,NaN,NaN,NaN
241,8,NaN,NaN,NaN
242,9,NaN,NaN,NaN
243,10,NaN,NaN,NaN
244,11,NaN,NaN,NaN
245,12,NaN,NaN,NaN
246,13,NaN,NaN,NaN
247,14,NaN,NaN,NaN
248,15,NaN,NaN,NaN
249,16,NaN,NaN,NaN
250,17,NaN,NaN,NaN
251,18,NaN,NaN,NaN
252,19,NaN,NaN,NaN
253,20,NaN,NaN,NaN
254,NaN,NaN,NaN,NaN
255,Definitions & Technical notes:,NaN,NaN,NaN
256,The data on energy supply and renewable electr...,NaN,NaN,NaN
257,Energy supply is defined as energy production ...,NaN,NaN,NaN
258,Electricity production refers to gross product...,NaN,NaN,NaN
259,Renewable electricity production (%) refers to...,NaN,NaN,NaN
260,… denotes no data available.,NaN,NaN,NaN
261,NaN,NaN,NaN,NaN
262,Data Quality:,NaN,NaN,NaN
263,The data are compiled primarily from the annua...,NaN,NaN,NaN
264,"For more information, visit http://unstats.un....",NaN,NaN,NaN

In [6]:
# convert 'Energy Supply' and 'Energy Supply per Capita' to gigajoules (there are 1,000,000 gigajoules in a petajoule)

# For all countries which have missing (thiếu) data (e.g. data with "...") make sure this is reflected(-phản ánh) as np.NaN values.

In [7]:
# For all countries which have missing (thiếu) data (e.g. data with "...") make sure this is reflected(-phản ánh) as np.NaN values.
energy[['Energy Supply', 'Energy Supply per Capita', '% Renewable']] =  energy[['Energy Supply', 'Energy Supply per Capita', 
                                            '% Renewable']].replace('...',np.NaN).apply(pd.to_numeric)

In [8]:
# convert 'Energy Supply' and 'Energy Supply per Capita' to gigajoules (there are 1,000,000 gigajoules in a petajoule)
energy['Energy Supply'] = energy['Energy Supply']*1000000

In [9]:
energy.head(2)

       Country  Energy Supply  Energy Supply per Capita  % Renewable
0  Afghanistan    321000000.0                      10.0     78.66928
1      Albania    102000000.0                      35.0    100.00000

In [10]:
# rename the following list of countries special
energy['Country'] = energy.Country.replace({"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"})

In [11]:
idx = np.where(energy.Country == 'United Kingdom')
ids = int(idx[0])
# access to the row through index 
ans = energy.iloc[ids, :].to_frame().T
#ans['Country']
ans

            Country Energy Supply Energy Supply per Capita % Renewable
214  United Kingdom      7.92e+09                      124     10.6005

In [15]:
#There are also several (-1 vài) countries with parenthesis(-dấu ngoặc đơn) in their name. Be sure to remove these
# remove the parenthesis and charactor special in the several name countries
# xóa cả cụm trong ngoặc đơn
# or the way 2
energy['Country'] = energy['Country'].str.replace(r"\(.*\)","")

In [16]:
energy

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,Afghanistan,3.210000e+08,10.0,78.669280
1,Albania,1.020000e+08,35.0,100.000000
2,Algeria,1.959000e+09,51.0,0.551010
3,American Samoa,NaN,NaN,0.641026
4,Andorra,9.000000e+06,121.0,88.695650
5,Angola,6.420000e+08,27.0,70.909090
6,Anguilla,2.000000e+06,136.0,0.000000
7,Antigua and Barbuda,8.000000e+06,84.0,0.000000
8,Argentina,3.378000e+09,79.0,24.064520
9,Armenia,1.430000e+08,48.0,28.236060
10,Aruba,1.200000e+07,120.0,14.870690
11,Australia,5.386000e+09,231.0,11.810810
12,Austria,1.391000e+09,164.0,72.452820
13,Azerbaijan,5.670000e+08,60.0,6.384345
14,Bahamas,4.500000e+07,118.0,0.000000
15,Bahrain,5.740000e+08,425.0,0.000000
16,Bangladesh,1.625000e+09,10.0,1.966329
17,Barbados,1.900000e+07,69.0,0.000000
18,Belarus,1.142000e+09,120.0,0.463389
19,Belgium,2.338000e+09,210.0,9.959739
20,Belize,1.300000e+07,39.0,64.690030
21,Benin,1.700000e+08,16.0,0.000000
22,Bermuda,6.000000e+06,88.0,0.000000
23,Bhutan,6.300000e+07,83.0,100.000000
24,Bolivia,3.360000e+08,32.0,31.477120
25,"Bonaire, Sint Eustatius and Saba",5.000000e+06,213.0,0.000000
26,Bosnia and Herzegovina,2.660000e+08,70.0,41.464670
27,Botswana,8.600000e+07,39.0,0.131406
28,Brazil,1.214900e+10,59.0,69.648030
29,British Virgin Islands,2.000000e+06,85.0,0.000000
...,...,...,...,...
235,NaN,NaN,NaN,NaN
236,NaN,NaN,NaN,NaN
237,NaN,NaN,NaN,NaN
238,NaN,NaN,NaN,NaN
239,NaN,NaN,NaN,NaN
240,NaN,NaN,NaN,NaN
241,NaN,NaN,NaN,NaN
242,NaN,NaN,NaN,NaN
243,NaN,NaN,NaN,NaN
244,NaN,NaN,NaN,NaN
245,NaN,NaN,NaN,NaN
246,NaN,NaN,NaN,NaN
247,NaN,NaN,NaN,NaN
248,NaN,NaN,NaN,NaN
249,NaN,NaN,NaN,NaN
250,NaN,NaN,NaN,NaN
251,NaN,NaN,NaN,NaN
252,NaN,NaN,NaN,NaN
253,NaN,NaN,NaN,NaN
254,NaN,NaN,NaN,NaN
255,Definitions & Technical notes:,NaN,NaN,NaN
256,The data on energy supply and renewable electr...,NaN,NaN,NaN
257,Energy supply is defined as energy production ...,NaN,NaN,NaN
258,Electricity production refers to gross product...,NaN,NaN,NaN
259,Renewable electricity production measured at ...,NaN,NaN,NaN
260,… denotes no data available.,NaN,NaN,NaN
261,NaN,NaN,NaN,NaN
262,Data Quality:,NaN,NaN,NaN
263,The data are compiled primarily from the annua...,NaN,NaN,NaN
264,"For more information, visit http://unstats.un....",NaN,NaN,NaN